<li class="list-group-item">
<div class="list-group">
	<div [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts <= 0}">
		<div class="d-flex justify-content-between">
			<div class="p-2 bd-highlight">
				<h3> {{ postTitle }} </h3>
			</div>
			<div class="p-2 bd-highlight">
				{{ created_at | date: 'd/M/yyyy, h:mm a'}}
			</div>
		</div>
		<div>
			<div>
				{{ content }}
			</div>
			<div>
				<button class="btn btn-success" (click)="onLoveIt()">Love it!</button>
				<button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it!</button>
			</div>
		</div>
	</div>
</div>
</li>
